@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Netflix Font", sans-serif; */
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  /* font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-y: hidden;
}

.App::before {
  background-color: rgb(54, 49, 49);
}

/* mainpage css */
.btn-play {
  border: none;
  width: 150px;
}

.btn-detail {
  border: none;
  width: 180px;
  background-color: transparent !important;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.btnClr:hover {
  background: rgb(193, 17, 25) !important;
}

.backContainer {
  position: relative;
  height: 100vh;
  color: white;
}

.backContainer::before {
  background: url(./assets/imgs/background.jpg) no-repeat center center fixed;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.secEdit {
  display: flex;
  height: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.secEdit h1 {
  font-size: 49px;
  font-weight: 700;
}

.secEdit>p {
  font-size: 25px;
  /* font-weight: 500; */
}

.emailSec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emailSec>p {
  font-size: 15px;
  font-weight: 500;
}

.emailSec div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emailSec div input {
  width: 60%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px 25px;
  color: white;
  margin-right: 10px;
  border: 1px solid rgb(193, 17, 25);
}

.emailSec div button {
  color: #fff;
  background: #e50914;
  color: white;
  /* font-size: 25px; */
  font-weight: 600;
  border: #e50914;
  border-radius: 5px;
  padding: 15px 15px;
  text-decoration: none;

  &:hover {
    background: rgb(193, 17, 25) !important;
  }
}

/* mainpage bottom components  */
.bgChanger {
  padding: 10px 0;
  background-color: rgb(54, 49, 49);
  height: auto;
  overflow: hidden;
}

.sec {
  background-color: black;
  /* margin-top: 10px; */
}

.sec2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  flex-wrap: wrap;
  position: relative;
}

.sec2::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 5px;
  background-color: rgb(54, 49, 49);
  bottom: 0;
}

.box1,
.box2 {
  flex-basis: 50%;
}

.box2 {
  position: relative;
}

.tv-container {
  position: relative;
  display: inline-block;
  width: 500px;
}

.background-video {
  position: absolute;
  top: 68px;
  left: 60px;
  width: 80%;
  /* height: 100%; */
  object-fit: cover;
  z-index: -100;
}

.tv-image {
  display: block;
  width: 100%;
  z-index: 1;
}

.video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.box1 h1 {
  font-size: 50px;
  font-weight: bolder;
}

.box1 p {
  font-size: 24px;
  margin-top: 15px;
  line-height: 32px;
  padding: 0 30px 0 10px;
}

.padd {
  padding: 25px 0;
}

/* accordion sec  */
.accord {
  display: block;
  text-align: center;
  padding: 50px 0;
}

.accord .DifBox h1 {
  font-size: 45px;
  font-weight: 800;
  margin-bottom: 30px;
}

.accord .accordion {
  text-align: left;
  border: none !important;
}

.accordion-button {
  background-color: rgb(59, 57, 57) !important;
  color: #fff !important;
  height: 60px;

  &:focus {
    box-shadow: none !important;
  }
}

.gape {
  margin-bottom: 10px;
}

/* footer start  */

.footerBox ul {
  padding: 0;
  margin-left: 0;
  /* flex-basis: 30%; */
}

.footer {
  padding: 50px 200px;
  background-color: black;
  color: #fff;
}

.footer .footerBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.footerBox ul li {
  list-style: none;
  padding: 5px 0;
  font-size: 15px;
}

.footerBox ul li a {
  color: rgb(158, 153, 153);
}

.footer p {
  margin-bottom: 40px;
}

.footer p a {
  color: rgb(158, 153, 153);
}

.selectArea select {
  background-color: rgb(29, 26, 26);
  color: #fff;
  padding: 5px 10px;
  margin: 20px 0;
}

.selectArea p {
  color: #e50914;
}

.selectArea P span {
  color: gray;
}

/* login page  */

.loginMain {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100vw;
  margin: 0 auto;
}

.login {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px 60px;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  width: 450px;
  margin: 0 auto;
  /* text-align: center; */
}

.login h1 {
  margin-bottom: 40px;
  font-weight: 550;
}

.login button {
  background-color: #e50914;
  color: white;
  border: none;
  width: 100%;
  padding: 10px 20px;
  border-radius: 4px;
  margin-top: 25px;
  cursor: pointer;
}

.login button:hover {
  background-color: #b2070f;
}

.login .signupButton {
  text-decoration: none;
}

.login small {
  color: white;
}

.login small .span1 {
  color: #8c8c8c;
}

.login small .span2:hover {
  text-decoration: underline;
  font-size: 15px;
}

.login .input-container {
  position: relative;
  margin: 0 0 25px 0;
}

.login .input-container label {
  position: absolute;
  top: 40%;
  left: 10px;
  transform: translateY(-40%);
  color: #8c8c8c;
  transition: all 0.3s ease;
}

.login .input-container input:focus+label,
.login .input-container input:valid+label {
  transform: translateY(-100%) scale(0.8);
  color: #8c8c8c;
}

.login .input-container input {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 4px;
  outline: none;
  background: #333;
  color: white;
  transition: background-color 0.3s ease;
}

.backContainerLog .navLog {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.backContainerLog .navLog .btnBack {
  text-decoration: none;
  margin-right: 30px;
  padding: 5px 10px;
  background-color: #333;
  font-weight: bolder;
  font-size: 20px;
  color: #fff;
  border-radius: 50%;
  border: 2px solid #fff;
}

/* background for login or signup  */
.backContainerLog {
  position: relative;
  color: white;
}

.backContainerLog::before {
  background: url(./assets/imgs/background.jpg) no-repeat top center fixed;
  background-size: cover;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.overlayLog {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

@media screen and (max-width: 1250px) {

  .container {
    width: 100%;
  }

  .box1 {
    flex-basis: 100%;
    flex-grow: 1;
  }

  .box1 h1,
  .box1 p {
    text-align: center;
  }

  .footer {
    padding: 50px 100px;
  }
}

@media screen and (max-width: 650px) {
  .gradient-overlay {
    width: 100%;
  }

  .footer {
    padding: 50px 50px;
  }

  .footerBox ul {
    flex-basis: 100%;
    margin-bottom: 30px;
    border-bottom: 1px solid gray;
  }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: rgb(193, 17, 25) #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgb(166, 167, 165);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(193, 17, 25);
  border-radius: 10px;
  border: 3px solid rgb(166, 167, 165);
}

/* MoviePage.css */

/* Set full viewport height */
.movie-page {
  height: 99vh;
  width: 100%;
  overflow: hidden;
  margin-right: 0;
  position: relative;
}

/* Gradient overlay */
.gradient-overlay {
  position: absolute;
  top: 20%;
  left: 20px;
  margin-right: 40px;
}

/* Pure CSS equivalent of the provided Tailwind CSS */
.movie-poster {
  color: #fff;
}

.movie-poster>h1 {
  font-size: 49px;
  font-weight: 600;
}

.model-bg {
  background: #181818;
}

/* Add this to your CSS */
.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

/* movie cards000 */

.movie-title {
  font-family: 'Merienda', cursive;
}